@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Helvetica Medium';
  src: url('../../public/fonts/HelveticaNeueMedium.otf');
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../../public/fonts/HelveticaNeueLight.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../../public/fonts/HelveticaNeueLightItalic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../../public/fonts/HelveticaNeueMedium.otf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  height: -webkit-fill-available;
}
body {
  height: -webkit-fill-available;
}
h1{
  line-height: 5rem;
  font-size: 5rem;
  font-family: 'Helvetica Medium';
}
h2{
  font-size: 3rem;
  font-family: 'Helvetica Medium';
}
span, p, a, input, button, div{
  font-family: 'Helvetica Light';
}
@media(max-width: 768px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  }
}
input{
  -webkit-appearance: none;
  outline: none;
}

.home-nav:before {
  content: "";
  width: 1px; /* color white ("no color") color (each 2px wide); here you can adjust the width */
  height: 0px;
  background: black;
  position: absolute; /* needs to be absolute */
  top: 0;
  animation: linedown 2s forwards;
}
/* .article-container{
  display: flex;
  flex-wrap: wrap;
}
.article-container *{
  flex-basis: 50%;
  
} */
.img{
  transition: all 0.5s ease-in;
  /* transition-delay: 0.25s; */
}
.img.active{
  /* animation: expandImage 2s forwards;
  animation-delay: 0.75s; */
  transition: all 0.5s ease-in;
  transition-delay: 0.4s;
}

@keyframes expandImage {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
@keyframes linedown {100% {height: 100%}}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
